---
import { DESCRIPTION, SOCIAL_IMAGE_URL, TITLE } from '~/const'
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="sitemap" href="/sitemap-index.xml" />
<link
  rel="preload"
  href="/jetbrains-mono.woff2"
  as="font"
  type="font/woff2"
  crossorigin
/>

<title>{TITLE}</title>
<meta name="description" content={DESCRIPTION} />

<meta property="og:title" content={TITLE} />
<meta property="og:description" content={DESCRIPTION} />
<meta property="og:url" content="https://jspark.dev" />
<meta property="og:image" content={SOCIAL_IMAGE_URL} />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content={TITLE} />
<meta name="twitter:description" content={DESCRIPTION} />
<meta name="twitter:creator" content="@jsparkdev" />
<meta name="twitter:image" content={SOCIAL_IMAGE_URL} />
